<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            class="p-button-text" (click)="deleteSelectedItems()"
                            [disabled]="!selectedItems || !selectedItems.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['itemStyleId', 'size', 'barcode']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedItems" selectionMode="multiple" [rowHover]="true" dataKey="id"
                (onPage)="loadItems('', $event.first / $event.rows, $event.rows)">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Items</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="itemStyleId">Item Style Id <p-sortIcon field="itemStyleId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="size">Size <p-sortIcon field="size"></p-sortIcon></th>
                        <th pSortableColumn="barcode">Bar Code <p-sortIcon field="barcode"></p-sortIcon>
                        </th>
                        <th pSortableColumn="isDamaged">Is Damaged <p-sortIcon field="isDamaged"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Item Style ID</span>
                            {{item.itemStyleId}}
                        </td>
                        <td style="width:30%;">
                            <span class="p-column-title">Size</span>
                            {{item.size}}
                        </td>
                        <td style="width:20%;">
                            <span class="p-column-title">Bar code</span>
                            {{item.barcode}}
                        </td>
                        <td style="width:10%;">
                            <span class="p-column-title">Is Damaged</span>
                            {{item.isDamaged ? 'Yes' : 'No'}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editItem(item)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteItem(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="itemDialog" [style]="{width: '450px'}" header="Item Details" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="itemStyleId">Item Style Id</label>
                    <input id="itemStyleId" type="text" pInputText [(ngModel)]="item.itemStyleId" required autofocus />
                </div>
                <div class="field">
                    <label for="size">Size</label>
                    <input id="size" type="text" pInputText [(ngModel)]="item.size" required />
                </div>
                <div class="field">
                    <label for="barcode">Bar code</label>
                    <input id="barcode" type="text" pInputText [(ngModel)]="item.itemStyleId" required />
                </div>
                <div class="field">
                    <label for="isDamaged">Is Damaged</label>
                    <p-checkbox id="isDamaged" [(ngModel)]="item.isDamaged"></p-checkbox>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveItem()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteItemsDialog" [style]="{width: '450px'}" header="Confirm" modal="modal"
            [closable]="false">
            <ng-template pTemplate="content">
                <div class="confirmation-content">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem;"></i>
                    <span>Are you sure you want to delete the selected items?</span>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text"
                    (click)="deleteItemsDialog = false"></button>
                <button pButton pRipple label="Yes" icon="pi pi-check" class="p-button-text"
                    (click)="confirmDeleteItems()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>